body {
  margin: 0px;
}

.app {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin);
  color: white; */
}

.canvas-container {
    border: 4px solid #6a737b;
    background-color: #f3f4f7;
  }